{% extends 'orders/layout.html' %}

{% block title %}
Редактирование заказа
{% endblock %}

{% block content %}
<h1>Редактирование заказа</h1>
<form method="post">
    {% csrf_token %}
        {{ form.ord_id }}<br>
    {{ form.tel_id }}<br>
    {{ form.type }}<br>
    {{ form.prof }}<br>
    {{ form.predm }}<br>
    {{ form.info }}<br>
    {{ form.oforml }}<br>
    {{ form.date }}<br>
    {{ form.time }}<br>
    {{ form.end_contr }}<br>
    {{ form.price }}<br>
    {{ form.links }}<br>
    {{ form.username }}<br>
        {{ form.payment }}<br>
    {{ form.author }}<br>

    <input type="submit" value="Сохранить">

</form>

{% endblock %}